/* h1{
    text-align: center;
}

#bulb {
    height: 65vh;
    width: 65vh;
    border: 5px solid #000;
    border-radius: 50%;
    /* outline: 2px red;
    outline-offset: 3px; */
    /*margin: 10px auto;
    padding: 20px;
}

button {
    padding: 10px;
    align-items: center;
    background-color: #0000ffb8;
    color: #fff;
    cursor: pointer;
    margin: 10px 600px;
} */


